@using OnlineShop.Utils
@model List<ProductCartViewModel>
@if (Model != null && Model.Any())
{
    <div class="cart_gallery">
        <div class="cart_close">
            <div class="cart_text">
                <h3>Giỏ hàng</h3>
            </div>
            <div class="mini_cart_close">
                <a href="javascript:void(0)" id="closeCart" onclick="closeCart()">
                    <i class="icon-close icons"></i>
                </a>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="cart_item">
                <div class="cart_img">
                    <a href="/Products/ProductDetails/@item.Id">
                        <img src="/images/banners/@item.ImageName" alt="@item.Title">
                    </a>
                </div>
                <div class="cart_info">
                    <a href="/Products/ProductDetails/@item.Id">@item.Title</a>
                    <p>@item.Count x @CurrencyConverter.FormatToVND(item.Price.GetValueOrDefault(0)) <span>  </span></p>
                </div>
                <div class="cart_remove">
                    <a onclick="updateCart(@item.Id,0)">
                        <i class="icon-close icons"></i>
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="mini_cart_table">
        <div class="cart_table_border">
            <div class="cart_total mt-10">
                <span>Tổng số tiền:</span>
                <span class="price">
                    @CurrencyConverter.FormatToVND(Model.Sum(x => x.RowSumPrice).GetValueOrDefault(0))
                </span>
            </div>
        </div>
    </div>
    <script>
        $(".item_count").html(@Model.Sum(x => x.Count));
        function closeCart() {
            $(".mini_cart").removeClass("active");
            $(".body_overlay").removeClass("active");
        }
    </script>
}
<div class="mini_cart_footer">
    <div class="cart_button">
        <a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Xem giỏ hàng</a>
    </div>
    <div class="cart_button">
        <a asp-controller="Cart" asp-action="Checkout"><i class="fa fa-sign-in"></i> Thanh toán</a>
    </div>
</div>
